@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MusicStore2.Models.ChangePasswordDTO

<link rel="stylesheet" href="~/Scripts/css/auth.css" />

<div class="auth-form">
    <h2>Change Password</h2>
    <p>Enter your email and new password.</p>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @using (Html.BeginForm("ChangePasswordAction", "Auth", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(u => u.Email)
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(u => u.NewPassword)
            @Html.PasswordFor(u => u.NewPassword, new { @class = "form-control", placeholder = "New Password" })
            @Html.ValidationMessageFor(u => u.NewPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(u => u.ConfirmPassword)
            @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
            @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="submit-btn">Change Password</button>
        <a class="register-button" href="@Url.Action("Login", "Auth")">Back to Login</a>
    }

    <script src="/Scripts/js/auth.js"></script>
</div>