@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MusicStore2.Models.UserAuth.LoginModel

<div class="auth-form">
    <h2>Welcome back</h2>
    <p>Sign in to your account to continue</p>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @using (Html.BeginForm("LoginAction", "Auth", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(u => u.Email)
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Password)
            @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="submit-btn">Sign in</button>
        <a class="register-button" href="@Url.Action("RegisterAction", "Auth")">Don't have an account? Sign up</a>
    }
</div>
