@model MusicStore2.Models.PlanDTO

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/createplan.css" />

<h2 class="page-title">Create Plan</h2>

<div class="form-container">
    @using (Html.BeginForm("CreatePlan", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "input-field" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            @Html.TextBoxFor(model => model.Price, new { @class = "input-field", type = "number", step = "0.01" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DurationDays)
            @Html.TextBoxFor(model => model.DurationDays, new { @class = "input-field", type = "number" })
        </div>

        <div class="button-group">
            <button type="submit" class="btn">Create</button>
            <a href="@Url.Action("Index", "Plan")" class="btn cancel">Cancel</a>
        </div>
    }
</div>