@using System.Web.Mvc.Html
@model MusicStore2.Models.ProductData

@{
    ViewBag.Title = "Adăugare Produs";
}

<h2>Adăugare Produs</h2>

@using (Html.BeginForm("AddProduct", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genre)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Bpm)
        @Html.TextBoxFor(m => m.Bpm, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Bpm)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Scale)
        @Html.TextBoxFor(m => m.Scale, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Scale)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.License)
        @Html.TextBoxFor(m => m.License, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.License)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ArtistName)
        @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ArtistName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ArtistId)
        @Html.TextBoxFor(m => m.ArtistId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ArtistId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProducerId)
        @Html.TextBoxFor(m => m.ProducerId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProducerId)
    </div>

    <div class="form-group">
        <label>Imagine Produs</label>
        <input type="file" name="ImageFile" />
    </div>

    <div class="form-group">
        <label>Fișier Audio</label>
        <input type="file" name="AudioFile" />
    </div>

    <button type="submit" class="btn btn-primary">Adaugă Produs</button>
}
